*{
    margin:0;
    padding:0;
}

h1{
    text-align:center;
    float:right;
    width:75%;
}
nav{
    background-color:#fadda8;
    float:left;
    display:block;
}

nav li{
    list-style-type:none;
    padding:10px 50px 10px 10px;
}

nav li a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    margin:0px 100px 0px 10px;
}

nav li:hover{
    background-color: #ffc353;
}

nav li a:hover{
    color:white;
    font-weight: bold;
}